#main{
    width: 70%;
    height: 250px;
    margin: auto;
    margin-top: 100px;
}
#proceed{
align-self: flex-start;
margin-top: 50px;
margin-left: 50px;
padding: 20px;
}
p{
color: rgb(65, 61, 61);
font-size: small;
}
#wishSuccess{
    position: fixed;
    top: 40;
    margin-top: 2%;
    background-color: black;
    color: white;
    text-align: center;
    white-space:nowrap;
    padding: 10px 695px 10px 695px;
    display: none;

}

#container{
display:grid;
grid-template-columns: 60% 35%;
justify-content: center;
}


#input{
width: 50%;
height: 28px;
margin: 10px 10px ;

}
#check{
display: flex;
justify-content: center;
width: 50%;
height: 28px;
background-color: black;
color: azure;
margin: 10px 10px ;
padding: 0.7rem 0.2rem;
font-weight: bold;
cursor: pointer;

}
#Text{
display: flex;
justify-content: space-between;
border-bottom: 1px solid rgb(175, 154, 154);

}
#sb{
font-weight: bold;

}
#items{
display: grid;
grid-template-columns: repeat(5, 1fr);
}
img{
height: 100px;
gap: 20px;
}
#add{
width: 70%;
height: 100%;
margin: auto;
margin-top: 200px;
}

.btnstyle{
    text-decoration: underline;
    cursor: pointer;

}

#d2, #d3{
    display: flex;
    justify-content: space-between;
}
.mtv,.rmv{
    text-decoration: underline;
    cursor: pointer;

}



#nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}
#lg{
    width: 25%;
    height: auto;
    cursor: pointer;
}
#nav > div{
    width: 30%;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
}
#nav > div p{
    cursor: pointer;
}
