#navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: fixed;
    top: 0;
}
#logo{
    width: 25%;
    cursor: pointer;
}
#navbar > div{
    width: 30%;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
}
#navbar > div p{
    cursor: pointer;
}

#product{
    display: flex;

}
#product>div{
    height:100%;
    width: 30%;
}
#product>div:nth-child(1){
    margin-left: 10%;
    font-size: 11px;
    padding-top: 15%;
    padding-bottom: calc((100vh - 70%));
    box-sizing: border-box;
    padding-right: 10%;
    position: sticky;
    top: 0;
    left: 0;

}

#product>div:nth-child(2){
    margin-top: 5%;
    margin-left: 0%;
}
#product>div:nth-child(2)>div>img{
   margin-left:40%;
   
}
#product>div:nth-child(3){
    margin-left: 70%;
    padding-top: 15%;
    padding-bottom: calc((100vh - 30%));
    position: sticky;
    top: 0;
    right: 0;
}
#selectSize{
    padding: 10px 180px 10px 15px;
    display: block;
}
#bag{
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    border: none;
    margin-top: 2%;
    padding: 10px 100px 10px 100px;
}
#wishlist{
    border: none;
    background-color: white;
}
#buy>p{
    color: grey;
}
#recommend{
    display: flex;
    overflow-x: scroll;
    gap: 40px;
    margin-top: 5%;
    width: 100vw;

}
